services:
  booking:
    build:
      context: .
      dockerfile: ./booking/Dockerfile
    ports:
      - "3203:3203"

  movie:
    build:
      context: .
      dockerfile: ./movie/Dockerfile
    ports:
      - "3200:3200"

  schedule:
    build:
      context: .
      dockerfile: ./schedule/Dockerfile
    ports:
      - "3202:3202"

  user:
    build:
      context: .
      dockerfile: ./user/Dockerfile
    ports:
      - "3201:3201"

  db:
    image: mongo:8.0.15-noble
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: "root"
      MONGO_INITDB_ROOT_PASSWORD: "*65%8XPuGaQ#"
